*{
    padding: 0;
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
a{
    color: #fff;
    text-decoration: none;
}
a:visited{
    text-decoration: none;
}
html{
    position: relative;
    height: 100%;
}
body{
    width: 100%;
    box-sizing: border-box;
    position: relative;
    min-height: 100vh;
}

body > img{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -3;
}

header{
    width: 100%;
    margin: auto;
}
.contenedor-logo{
    display: block;
    width: 100%;
    
}
.logo{
    width: 5rem;
    height: 3rem;
    margin: 10px 0;
}

h1{
    text-align: center;
    color: crimson;
    margin-bottom: 0;
    padding-bottom: 0;
    font-size: 80px;
    text-shadow: 2px 2px 2px white;
}
main{
    margin-top: 0;
    padding-top: 0;
    box-sizing: border-box;
    padding-bottom: 3rem;
}

.seccion1{
    width: 100%;

}
.contenedor-canvas{
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    box-sizing: border-box;
    width: 40%;
    height: 400px;
    border-radius: 25px;
    transform-style: preserve-3d;
    min-width: 16rem;
}


.contenedor-canvas img{
    width: 250px;
    height: 400px;
    border-radius: 25px;
    backface-visibility: hidden;
    position: absolute;
    opacity: .8;
}
.rotar{
    transform: rotateY(180deg);
    transition: 1s;
}

canvas{
    width: 250px;
    height: 400px;
    background-color: black;
    border-radius: 25px;
    position: absolute;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    opacity: .8;
}

.contenedor-letras-bien{
    font-size: 36px;
    text-align: center;
    min-height: 2rem;
    color: crimson;
    box-sizing: border-box;
    vertical-align: bottom;
}

.letra-bien{
    width: 28px;
    height: 2.5rem;
    display: inline-block;
    border-bottom: 2px solid #0a3871;
    text-shadow: 2px 2px 2px white;
    vertical-align: bottom;
    margin: 0 5px;
}

.contenedor-letras-mal{
    font-size: 25px;
    color: #0a3871;
    text-align: center;
    text-shadow: 2px 2px 2px white;
    box-sizing: border-box;
    vertical-align: bottom;
    padding-top: 5px;
    

}

.letras-mal{
    width: 25px;
    display: inline-block;
    background-color: #000; 
    border-radius: 5px;
    padding:0 3px;
    margin: 1px 5px;
    opacity: .8;
}

.teclas{
    display: block;
    text-align: center;

}
.teclado-pantalla{
    display: flex;
    width: 300px;
    margin: 0 auto;
    justify-content: center;
    flex-direction: column;
    background-color: #000;
    opacity: .8;
    border-radius: 15px;
    box-sizing: border-box;
}

.key{
    width: 15px;
    display: inline-block;
    color: #fff;
    margin: 3px;
    padding: 2px;
    background-color: crimson;
    border-radius: 3px;
}
.key:hover{
    cursor: pointer;
    transform: scale(1.1);
    filter: brightness(1.9);
}
.key:active{
    filter: contrast(2);
}

.teclado{
    width: 70px;
    height: 50px;
}
.teclado:hover{
    cursor: pointer;
    transform: scale(1.1);
    color: #0a3871;
}
.teclado:active{
    filter: brightness(4);
}

.contenedor-botones{
    width: 100%;
    display: block;
    text-align: center;
}

.btn-nuevo, .btn-desistir{
    width: 15%;
    height: 3rem;
    margin: 0 2rem;
    font-size: 18px;
    border-radius: 50px;
    background-image: url(../img/oeste.jpg);
    border: 2px solid black;
    color: white;
    font-weight: bolder;
    cursor: pointer;
    min-width: 12rem;
    margin-top: 1rem;
    outline: none;
}


.btn-nuevo:hover, .btn-desistir:hover,
 .btn-agregar:hover, .btn-iniciar:hover,
 .btn-aceptar:hover, .btn-cancelar:hover{
    transform: scale(1.2);
    filter: brightness(2);
    transition: .5s;
    color: crimson;
    text-shadow: 2px 2px 2px white;
}
.btn-nuevo:active, .btn-desistir:active,
 .btn-agregar:active, .btn-iniciar:active,
 .btn-aceptar:active, .btn-cancelar:active{
    filter: brightness(4);
    filter: contrast(2);
}

.seccion2{
    width: 100%;
}

.contenedor-botones-inicio{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}

.btn-iniciar, .btn-agregar{
    background-image: url(../img/oeste.jpg);
    
    width: 20%;
    height: 4rem;
    margin: 10px;
    color: #fff;
    font-weight: bolder;
    cursor: pointer;
    min-width: 12rem;
    border-radius: 20px;
    border: 2px solid black;
    outline: none;
    min-width: 14rem;
}
.btn-iniciar{
    height: 10rem;
    font-size: 2rem;
    border-radius: 20px;
}
.btn-agregar{
    font-size: 24px;
    margin: 1rem 0;
}

.contenedor-texto{
    width: 100%;
    text-align: center;
    padding-bottom: 3rem;
    opacity: 0;
    box-sizing: border-box;
}
.fondo-negro{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 250px;
    height: 200px;
    border-radius: 25px;
    margin: 0 auto;
    background-color: #000;
    opacity: .8;
    box-sizing: border-box;
}
.entrada-texto{
    width: 80%;
    padding: 0 1rem;
    outline: none;
    border: none;
    height: 2rem;
    border-radius: 5px;
    font-size: 25px;
    box-sizing: border-box;
    color: crimson;
    text-shadow: 2px 2px 2px white;
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
}

.contenedor-botones-agregar{
    display: flex;
    width: 80%;
    justify-content: space-between;
    box-sizing: border-box;

}
.botones-form{
    width: 40%;
}
.btn-aceptar, .btn-cancelar{
    width: 100%;
    margin: 30px 0;
    height: 2rem;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: bolder;
    background-image: url(../img/oeste.jpg);
 
    cursor: pointer;
}

.contenedor-footer{
    font-size: 12px;
    width: 100%;
    height: 2rem;
    position: absolute;
    bottom: 0;
    color: white;
    text-align: center;
    box-sizing: border-box;
}

.bordeVerde{
    border-bottom: 2px solid greenyellow;
}

.ocultar{
    display: none;

}
.ocultar2{
    visibility: hidden;
}

.ocultarOpaco{
    opacity: 0;
    transition: 2s;
    display: none;
}

.mostrar{
    opacity: .8;
    transition: 2s;
}

@media screen and (max-width: 1000px){
    h1{
        font-size: 65px;
    }
    .teclas{
        display: block;
    }
}

